<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<html ng-app="turnoMovil">
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <title>Su Turno Móvil</title>
        <link rel="stylesheet" href="jq/jquery.mobile-1.4.5.css">
        <link rel="shortcut icon" href="favicon.png">

        <script src="jq/jquery.min.js"></script>
        <script src="jq/jquery.mobile-1.4.5.min.js"></script>

        <script src="js/sweetAlert2/sweetalert2.js"></script>
        <link rel="stylesheet" type="text/css" href="js/sweetAlert2/sweetalert2.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

        <script type="text/javascript" src="js/angular/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="config.js"></script>

        <script type="text/javascript" src="js/validaciones.js"></script>
        <link rel="stylesheet" type="text/css" href="index.css">

        <link rel='stylesheet' href='pull_to_refresh/material-refresh.min.css'/>
        <script src='pull_to_refresh/material-refresh.min.js'></script>

    </head>
    <body id="mainControl" ng-controller="mainCtrl" oncontextmenu="return false;">

        <input type="hidden" id="conectado" name="conectado" ng-model="estado_conexion" value="">
        <input type="hidden" id="showBotVolver" ng-model="showBotVolver">

        <!-- no borrar este codigo -->
        <div class="app" style="display: none;">
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
        </div>

        <!-- Empresas disponibles -->
        <div id="servicios" data-role="page" data-cache="true" data-transition="slidefade">

          <div data-role="panel" data-position="right" id="mypanel">
              <br><br>
              <center>Su Turno Móvil</center>
              <button ng-show="logeado=='true'" ng-click="goLogout()" class="boton_azul">Logout</button>
              <button ng-show="logeado=='false'" ng-click="goAuth()" class="boton_azul">Login</button>
              <!-- <button ng-click="goInicio()" class="boton_azul">Inicio</button> -->
          </div>

          <div data-role="header" data-position="fixed" data-tap-toggle="false" class="ultimaAtencionDiv">
            <a href="/#mypanel" class="boton" data-role="none" data-corner="false"><i class="fa" aria-hidden="true"></i></a>
            <a href="/#mypanel" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
            <h1>Su Turno Móvil</h1>

            <div ng-show="showUltimaAtencion" ng-click="showUltimaAtencionBoton()" class="ultima_atencion">
                <img src="images/reloj.png" height="13px"> Mi último Número
            </div>
          </div>

          <div role="main" class="ui-content">

              <div id="wrapper">
                  <div ng-repeat="row in servicios track by $index">
                      <div ng-if="row.rubro!=''" class='rowServicioTit'>{{row.rubro}}</div>
                      <div ng-if="row.rubro==''" data-role="button" class="rowServicio tableado" ng-click="servicioClick(row.empresa_id, row.id, row.logo, row.nombre)">
                          <img ng-if="row.logo" src="{{row.logo_data}}" height="32px">
                          <img src="img/forward.png" height="15px" class="rowServicio_r">
                      </div>
                  </div>
              </div>
          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
              <h4>Seleccione una institución</h4>
          </div>
        </div>

        <!-- Servicios de la empresa -->
        <div data-role="page" id="detalles" data-theme="a" data-transition="slidefade">

            <div data-role="panel" data-position="right" id="mypanel2">
                <br>
                <center>Su Turno Móvil</center>
                <button ng-show="logeado=='true'" ng-click="goLogout()" class="boton_azul">Logout</button>
                <button ng-show="logeado=='false'" ng-click="goAuth()" class="boton_azul">Login</button>
                <button ng-click="goInicio()" class="boton_azul">Inicio</button>
            </div>

            <div data-role="header" data-position="fixed" style="overflow:hidden;" data-tap-toggle="false">
                <a href="/#empresas" ng-click="goEmpresas()" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
                <a href="/#mypanel2" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
                <h1>Su Turno Móvil</h1>
                <img src="{{logo}}" height="32px">
                <div class="rowServicioTit">Servicios</div>
            </div>

            <div role="main" class="ui-content">

                <!-- <img src="{{logo}}" height="32px">
                <div class="rowServicioTit">Servicios</div> -->
                <!-- <div class="pulltorefresh"></div> -->

                  <table class="tabla_listas">
                  <tr ng-repeat="row2 in servicios_empresa track by $index" ng-click="sucursalesClick(row2.id, servicio_id_actual, row2.nombre)">
                      <td width="90%">{{row2.nombre}}</td>
                      <td><img src="img/forward.png" height="17px;"></td>
                  </tr>
                  </table>

            </div>

            <div data-role="footer" data-position="fixed" data-tap-toggle="false" data-tap-toggle="false">
                <h4>Seleccione un Servicio</h4>
            </div>
        </div>

        <!-- Sucursales del servicio -->
        <div data-role="page" id="sucursales" data-theme="a" data-transition="slidefade">

          <div data-role="panel" data-position="right" id="mypanel3">
              <br>
              <center>Su Turno Móvil</center>
              <button ng-show="logeado=='true'" ng-click="goLogout()" class="boton_azul">Logout</button>
              <button ng-show="logeado=='false'" ng-click="goAuth()" class="boton_azul">Login</button>
              <button ng-click="goInicio()" class="boton_azul">Inicio</button>
          </div>

          <div data-role="header" data-position="fixed" data-tap-toggle="false" style="overflow:hidden;">
            <a ng-click="goDetalles" href="#detalles" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
            <a href="/#mypanel3" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
            <h1>Su Turno Móvil</h1>
            <img ng-if="logo" src="{{logo}}" height="32px">
            <div class="rowServicioTit">{{servicio_actual}}</div>
          </div>

          <div role="main" class="ui-content">
            <div ng-repeat="(key, row3) in direcciones track by $index">
              <div class="rowServicio2 tableado" ng-click="direccionClick(key, row3, row3.credenciales, row3.muestraTee)">
                <!-- <img src="img/forward.png" height="7px" class="rowServicio_r"> -->
                <div class="izquierda">
                    <b>{{row3.nombre}}</b><br>
                    <div class="pequeno">
                        {{row3.direccion}}
                    </div>
                </div>
                <div class="derecha">
                    <div class="pequeno">
                        <span ng-if="row3.muestraTee==true && row3.tee>=0 && row3.tee<=5 && row3.enHorario=='OK'">Espera* <5m</span>
                        <span ng-if="row3.muestraTee==true && row3.tee>=6 && row3.enHorario=='OK'">Espera* {{row3.tee}}m</span>
                        <span ng-if="row3.enHorario=='NO'">F/H</span>
                        <span ng-if="row3.tee==-1 && row3.enHorario=='OK'">N/D</span>
                        <br>
                        <span ng-if="row3.distancia>=0.1">{{row3.distancia | number: 2}} kms</span>
                        <span ng-if="row3.distancia<0.1">En sucursal</span>
                    </div>
                </div>
                <div style="clear: both;"></div>
              </div>
            </div>

          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <h4>Seleccione Sucursal<br>* Tiempo estimado de espera</h4>
          </div>
        </div>

        <!-- ticket -->
        <div data-role="page" id="ticket" data-theme="a" data-transition="slidefade">

            <div data-role="panel" data-position="right" id="mypanel5">
                <br>
                <center>Su Turno Móvil</center>
                <button ng-show="showBotVolver" ng-click="goLogout()" class="boton_azul">Logout</button>
                <button ng-show="showBotVolver" ng-click="goInicio()" class="boton_azul">Inicio</button>
            </div>

            <div data-role="header" data-position="fixed" style="overflow:hidden;">
                <a ng-click="actualizaDirecciones()" ng-show="showBotVolver" id="volver" href="#sucursales" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
                <a href="/#mypanel5" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
                <h1>Su Turno Móvil</h1>
            </div>

          <div id="main_ticket" role="main" class="ui-content alto_ticket" style="background-color: white;">
            <div class="barra_azul">
              <div ng-show="miNumero!='---'" class="azul_fondo_logo_r circleBase type1" ng-click="goTicket()"><span><br>{{miNumero}}</span></div>
              <img ng-if="logo" src="{{logo}}" height="32px">
            </div>
            <div style="clear: both;"></div>
            <div class="datos_empresa">
              <div style="float: right;">
                  <span ng-if="muestraTee" class="pequeno">Espera:{{tee}}&nbsp;</span><br ng-if="muestraTee">
                  <span ng-if="distanciaActual>=0.1" class="pequeno">{{distanciaActual | number: 2}} kms</span>
                  <span ng-if="distanciaActual<0.1" class="pequeno">En sucursal</span>
              </div>
              <div style="float: left;">
                <span><b>{{direccion_actual.nombre}}</b></span><br>
                <span class="pequeno">{{direccion_actual.direccion}}</span>
              </div>
            </div>
            <!--Mensaje que se encuentra arriba de las columnas [Oficina-Ubicación-Galería]-->
            <div ng-show="(mensaje1!=''&&mensaje1!=null)||(mensaje2!=''&&mensaje2!=null)" class="barra_azul1" style="margin:-4px;">
                <center>{{mensaje1}}<br>{{mensaje2}}</center>
            </div>
            <!-- cuatro columnas -->
            <div ng-show="showTicket">
                <div data-role="tabs" id="tabs" style="margin:-5px;">
                    <div data-role="navbar" id="navbar" class="barras">
                        <ul>
                          <li><a id="t1" ng-click="pestanaActual('t1')" href="#oficina" data-ajax="false" class="ui-btn-active"><span class="pequeno_tab">Oficina</span></a></li>
                          <li><a id="t2" ng-click="pestanaActual('t2')" href="#miNumero" data-ajax="false"><span class="pequeno_tab">Su número</span></a></li>
                          <li><a id="t3" ng-click="pestanaActual('t3')" href="#ubicacion" data-ajax="false"><span class="pequeno_tab">Ubicación</span></a></li>
                          <li><a id="t4" ng-click="pestanaActual('t4')" href="#galeria" data-ajax="false"><span class="pequeno_tab">Galería</span></a></li>
                        </ul>
                    </div>
                    <div id="oficina">
                        <div class="tabla">
                        <table ng-show="horario.length>0">
                            <thead>
                                <tr><td colspan="3" style="border: solid #fff 1px;"><table><tr><td><div style="width:100%; text-align: center; font-size: 25px; padding-top: 15px; padding-bottom: 15px;">Horarios de Atención</div></td><td> <img src="icon.png" height="35px"></td></tr></table></td>
                                <tr>
                                    <td class="col_dias" style="border: solid #fff 1px;">Días</td>
                                    <td class="col_inicio" style="border: solid #fff 1px;">Inicio</td>
                                    <td class="col_fin" style="border: solid #fff 1px;">Fin</td>
                                </tr>
                            </thead>
                            <tbody ng-repeat="row4 in horario track by $index">
                                <tr>
                                  <td class="dato_dias" rowspan="{{row4.Horas.length + 1}}" style="border: solid #fff 1px;">{{row4.Dia}}</td>
                                </tr>
                                <tr ng-repeat="row44 in row4.Horas track by $index">
                                  <td class="dato_inicio" style="border: solid #fff 1px;">{{row44.Inicio}}</td>
                                  <td class="dato_fin" style="border: solid #fff 1px;">{{row44.Fin}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>

                    <!-- <div id="miNumero">
                          <iframe id="contenedor_ticket" ng-src="ticket.html" frameborder="0"></iframe>
                    </div> -->

                    <!-- inicio Sección información del ticket -->
                    <div id="miNumero" class="ui-content">
                      <div style="position: fixed;bottom: 4em; width: 100%; z-index: 100;">
                        <div class="col_ticket_l"><img src="reloj.gif" width="25px"><br><span class="tAzul">Estimado</span><br><span class="tRojo">{{menos_de}} {{tee2}}</span></div>
                        <div class="col_ticket_r"><img src="logoespera.png" height="25px"><br><span class="tAzul">Atendiendo</span><br><span class="tRojo">{{letraServicioActualTurnoActual}}</span></div>
                      </div>
                      <div class="col_ticket2">
                        <div class="col_ticket_texto">{{miNumero}}</div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <!-- Fin  Sección información del ticket -->

                    <div id="ubicacion" class="ui-body-d ui-content">
                        <div id="divMap" style="height:95%; width:100%;max-width:100%;">
                            <iframe id="mapa_cont" style="height:95%;width:100%;border:0;" frameborder="0" ng-src="{{programa_mapa_ticket}}"></iframe>
                        </div>
                    </div>
                    <div id="galeria" class="ui-body-d ui-content">
                        <img src="{{galeria}}" width="100%;">
                    </div>
                </div>
            </div> <!-- cuatro columnas -->
            <!-- tres columnas -->
            <div ng-show="!showTicket">
                <div data-role="tabs" id="tabs2" style="margin:-5px;">
                    <div data-role="navbar" id="navbar2" class="barras">
                        <ul>
                          <li><a id="t5" ng-click="pestanaActual('t5')" href="#oficina2" data-ajax="false" class="ui-btn-active"><span class="pequeno_tab">Oficina</span></a></li>
                          <li><a id="t6" ng-click="pestanaActual('t6')" href="#ubicacion2" data-ajax="false"><span class="pequeno_tab">Ubicación</span></a></li>
                          <li><a id="t7" ng-click="pestanaActual('t7')" href="#galeria2" data-ajax="false"><span class="pequeno_tab">Galería</span></a></li>
                        </ul>
                    </div>
                    <div id="oficina2">
                        <div class="tabla">
                        <table ng-show="horario.length>0">
                            <thead>
                                <tr><td colspan="3" style="border: solid #fff 1px;"><table><tr><td><div style="width:100%; text-align: center; font-size: 25px; padding-top: 15px; padding-bottom: 15px;">Horarios de Atención</div></td><td> <img src="icon.png" height="35px"></td></tr></table></td>
                                <tr>
                                    <td class="col_dias" style="border: solid #fff 1px;">Días</td>
                                    <td class="col_inicio" style="border: solid #fff 1px;">Inicio</td>
                                    <td class="col_fin" style="border: solid #fff 1px;">Fin</td>
                                </tr>
                            </thead>
                            <tbody ng-repeat="row4 in horario track by $index">
                                <tr>
                                  <td class="dato_dias" rowspan="{{row4.Horas.length + 1}}" style="border: solid #fff 1px;">{{row4.Dia}}</td>
                                </tr>
                                <tr ng-repeat="row44 in row4.Horas track by $index">
                                  <td class="dato_inicio" style="border: solid #fff 1px;">{{row44.Inicio}}</td>
                                  <td class="dato_fin" style="border: solid #fff 1px;">{{row44.Fin}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div id="ubicacion2" class="ui-body-d ui-content">
                        <div id="divMap2" style="height:95%; width:100%;max-width:100%;">
                            <iframe id="mapa2_cont" style="height:95%;width:100%;border:0;" frameborder="0" ng-src="{{programa_mapa}}"></iframe>
                        </div>
                    </div>
                    <div id="galeria2" class="ui-body-d ui-content">
                        <img src="{{galeria}}" width="100%;">
                    </div>
                </div>
            </div>
        </div><!-- tres columnas -->

        <div ng-show="showPideTicket" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <center>
              <img ng-click="tomaNumero()" ng-disabled="bloqueaTomaNumero" ng-src="img/tomar_numero.png" width="95%">
            </center>
          </div>
        <div ng-show="!showPideTicket" data-role="footer" data-position="fixed" data-tap-toggle="false">
          <div id="wrap">
            <div class="boton_azul" ng-disabled="bloqueaCancelar" ng-click="popUpCancelar()"><span>Cancelar</span></div>
            <!-- <div class="boton_espacio"></div>
            <div class="boton_azul" ng-disabled="bloqueaMeAtendieron" ng-click="popUpMeAtendieron()"><span>Me atendierion</span></div> -->
          </div>
        </div>

        </div><!-- datos del servicio seleccionado -->

        <!-- Solicitud de parametros al tomar numero -->
        <div data-role="page" id="pideNumero" data-theme="a" data-transition="slidefade">

          <div data-role="panel" data-position="right" id="mypanel4">
              <br>
              <center>Su Turno Móvil</center>
              <button ng-show="logeado=='true'" ng-click="goLogout()" class="boton_azul">Logout</button>
              <button ng-show="logeado=='false'" ng-click="goAuth()" class="boton_azul">Login</button>
              <button ng-click="goInicio()" class="boton_azul">Inicio</button>
          </div>

          <div data-role="header" data-position="fixed" style="overflow:hidden;">
              <a href="#ticket" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
              <a href="/#mypanel4" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
              <h1>Su Turno Móvil</h1>
          </div>

          <div role="main" class="ui-content">

              <img src="{{logo}}" height="32px">
              <div class="rowServicioTit">Ingrese los siguientes datos</div>
              <br>
              <div ng-form>
                  <div style="width:80%;padding:30px;">

                    <div ng-if="sRut==true">{{tRut}}<br><input type='text' ng-model='formu.userRut' class='form-control' placeholder='12345678-K' style="width:100%;" required></div>
                    <div ng-if="sCel==true">{{tCel}}<br><input type='number' string-to-number ng-model='formu.numCelular' class='form-control' placeholder='98765432' style="width:100%;" required></div>
                    <div ng-if="sFij==true">{{tFij}}<br><input type='number' string-to-number ng-model='formu.numFijo' class='form-control' placeholder='221234567' style="width:100%;" required></div>
                    <div ng-if="sOrd==true">{{tOrden}}<br><input type='number' string-to-number ng-model='formu.numOrden' class='form-control' placeholder='1200000000' style="width:100%;" required></div>

                    <br>
                    <div id="tomaNumeroAcc" class="boton_azul" ng-click="tomaNumero2()" style="width:90%; margin:0 auto;">Tomar número</div>
                  </div>
              </div>

          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <h4>Solicitud número de atención</h4>
          </div>
        </div> <!-- pagina final -->

          <!-- Login -->
          <div data-role="page" id="pagina_blanca" style="background:white;"></div>

          <div data-role="page" id="auth" style="background:#045FB4;">

          <div data-role="header" data-position="fixed" data-tap-toggle="false" style="overflow:hidden;">
            <a ng-click="goEmpresas" href="#servicios" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>

            <h1>Su Turno Móvil</h1>
          </div>

            <br><br>
            <div role="main" class="ui-content" style="background:#045FB4;">
              <center>
                <img src="icon.png" width="120px"><br><br>
              </center>
              <div style="width:97%;">
                  <div style="margin-left:30px; margin-right:0;">
                    <form id="form1" name="form1" method="POST">
                    <div style="width: 95%;">
                          <input type="hidden" id="push_id" ng-model="form.push_id" value="">
                          <div class="blanco">Email</div>
                          <input type="email" class="form-control" ng-model="form.email" auto-fill-sync placeholder="Correo electrónico">
                          <div class="blanco">Contraseña</div>
                          <input type="password" class="form-control" ng-model="form.password" auto-fill-sync placeholder="Password">
                          <br>

                          <div ng-click="submitRegistro()" class="boton_azul" style="background-color:#0431B4;float:left;">Registrarse</div>
                          <div class="boton_espacio">&nbsp;</div>
                          <div ng-click="submitLogin()" class="boton_azul" style="background-color:#0431B4;float:right;">Iniciar sesión</div>
                          <div style="clear: both;"></div>

                          <br><br>
                          <div ng-click="condiciones()" class="terminos_condiciones">Leer términos y condiciones de servicio</div>
                    </div>
                    </form>
                  </div>
              </div>
              <br>
              <!-- <center>
                <button g-login type="button">Google Login</button>
                <button fb-login type="button">facebook Login</button>
              </center>

            </div>
          </div> -->

        <!-- miUltimoNumero -->
        <div id="miUltimoNumero" data-role="page" data-transition="slidefade">

          <div data-role="panel" data-position="right" id="mypanel">
              <br>
              <center>Su Turno Móvil</center>
              <button ng-show="logeado=='true'" ng-click="goLogout()" class="boton_azul">Logout</button>
              <button ng-show="logeado=='false'" ng-click="goAuth()" class="boton_azul">Login</button>
              <button ng-click="goInicio()" class="boton_azul">Inicio</button>
          </div>

          <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <a href="#servicios" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
            <a href="/#mypanel" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
            <h1>Mi último Número</h1>
          </div>

          <div role="main" class="ui-content">
              <!-- datos ultima atencion -->

                <div class="barra_azul">
                  <div ng-show="miNumero!='---'" class="azul_fondo_logo_r circleBase type1"><div style="height:10px;"></div><span>{{ultimaAtencion.miNumero}}</span></div>
                  <img ng-show="ultimaAtencion.logo" src="{{ultimaAtencion.logo}}" height="32px">
                </div>
                <div style="clear: both;"></div>
                <div class="datos_empresa">
                  <div style="float:right;text-align: right;">
                    <span class="pequeno">Fecha: {{ultimaAtencion.date | date:'dd/MM'}}</span>&nbsp;<br>
                    <span class="pequeno">Hora: {{ultimaAtencion.date | date:'HH:mm'}}</span>&nbsp;
                  </div>
                  <div style="float: left;">
                    <span><b>{{ultimaAtencion.direccion_actual.nombre}}</b></span><br>
                    <span class="pequeno">{{ultimaAtencion.direccion_actual.direccion}}</span>
                  </div>
                </div>
                <div class="barra_azul1">
                    <center style="font-size:14;">Este es tu último N&deg; tomado;<br>Preséntalo en caso de ser necesario</center>
                </div>
                <!-- <div class="col_ticket2">
                  <div style="margin-bottom:5px;font-size:18px;padding:5px;width:100%;text-align:center;">{{ultimaAtencion.servicio}}</div><br>
                  <div class="col_ticket_l"><span class="tAzul">Fecha</span><br><span class="tRojo">{{ultimaAtencion.date | date:'dd-MM-yyyy'}}</span></div>
                  <div class="col_ticket_r"></div>
                  <div class="col_ticket_texto"><br>{{ultimaAtencion.miNumero}}</div>
                </div> -->

                <div id="miNumero" class="ui-content">
                    <div style="position: fixed;bottom: 46px; width: 100%; z-index: 100;">
                      <div class="col_ticket_l"><span class="tAzul">Fecha</span><br><span class="tRojo">{{ultimaAtencion.date | date:'dd-MM-yyyy'}}</span></div>
                      <div class="col_ticket_r"><span class="tAzul">Hora</span><br><span class="tRojo">{{ultimaAtencion.date | date:'HH:mm'}}</span></div>
                    </div>
                    <div style="font-size:18px;padding:5px;width:100%;text-align:center;">{{ultimaAtencion.servicio}}</div><br>
                    <div class="col_ticket2">
                      <div class="col_ticket_texto">{{ultimaAtencion.miNumero}}</div>
                    </div>
                    <div class="clear"></div>
                </div>

          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <h5>*Este N&deg; ya pudo haber sido llamado</h5>
          </div>
        </div>

        <!-- termino y condiciones -->
        <div data-role="page" id="condiciones" data-transition="slidefade">

          <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <!-- <a href="/#login" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a> -->
            <!-- <a href="/#mypanel" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a> -->
            <h1>Terminos y Condiciones</h1>
          </div>

          <div role="main" class="ui-content">
              <div class="condiciones" id="condiciones_cont"></div>
          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div id="wrap">
              <div ng-click="goLogout()" class="boton_azul">Cerrar</div>
            </div>
          </div>
        </div> <!-- termino y condiciones -->

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>

<script type="text/javascript">
    var h = window.screen.availHeight;
    var w = window.screen.availWidth;

    $(".wrapper").css("width", w);

    var viewPortHeight = $(window).height();
    var headerHeight = $('div[data-role="header"]').height();
    var footerHeight = $('div[data-role="footer"]').height();
    var contentHeight = viewPortHeight - headerHeight - footerHeight - 20;

    // Set all pages with class="page-content" to be at least contentHeight
    // $('div[class="ui-content"]').css({'min-height': contentHeight + 'px'});
    $("#miNumero").css('min-height', contentHeight + 'px');
    $("#main_ticket").css('min-height', contentHeight + 'px');
    $(".alto_ticket").css('min-height', contentHeight - 10 + 'px');
    //$(".col_ticket").css('min-height', contentHeight *0.65 + 'px');
    $(".col_ticket2").css('min-height', contentHeight *0.65 + 'px');

    $("#condiciones_cont").load("condiciones.html");
    $("#nav").css("height", h - 240);

    $(document).ready( function() {
        $("#divMap").css("width", "100%");
        $("#divMap").css("height", h -240);
        $("#divMap2").css("width", "100%");
        $("#divMap2").css("height", h -240);
    });

     var opts = {
         nav: 'Type1', //String, using for Type2
         scrollEl: '#wrapper', //String
         onBegin: function() {
            console.log("inicia pull");
            angular.element(document.getElementById('mainControl')).scope().serviciosRefresh();
         }, //Function
         onEnd: function() {
            console.log("fin pull");
         }, //Function
         top: '0px', //String
         theme: 'mui-blue-theme', //String
         index: 10001, //Number
         maxTime: 4500, //Number
         freeze: false //Boolen
     }
    mRefresh(opts);

</script>
