.pnh
  * {
    text-shadow: 0pt 0px 0pt rgb(0, 0, 0);
  }

  div {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  *:not(input):not(textarea) {
   -webkit-user-select: none; /* disable selection/Copy of UIWebView */
   -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
  }  

  h1 {
    font: 14px Arial !important;
    font-size: 12px;
  }
  /*th {
    font: 14px Arial !important;
    color: white;
  }
  td {
    font: 14px Arial !important;
    color: black;
  }*/

}

#loader {
  padding: 20px;
  text-align: center;
}

#loader img {
  position: relative;
  display: block;
  margin: auto;
  width: 40px;
}
#loader span {
  position: relative;
  display: block;
  margin: auto;
}

#img_loader {
  width: 20;
  height: 20;
}

.form-control {
  width: 90%;
}

#divMap {
   width: 100%; height: 100%; padding: 0;
}
#divMap2 {
   width: 100%; height: 100%; padding: 0;
}

  .horarios_atencion {
    width: 100%;
    height: 65px;
    padding: 10px;
    font-size: 25px;
    vertical-align: middle; 
    text-align: center;
    color: black;
  }
  .fondo {
    background: #0489B1;
    padding: 20px;
  }
  #login {
    background: #24499C;
    color: white;
  }

  /* Paginas blancas */
  .ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper { 
    background: #fff; 
  }

  /*.ui-page */
  .ui-content {
      font: 14px Arial !important;
      background-color: white;
      /*height: 95%;*/
      width: 100%;
      margin: 0px;
      margin-right: 10px;
      padding: 1px;
      padding-right: 10px;
  }

  .ui-page .ui-header {
      font: 14px Arial !important;
      background: white !important;
      color: black;
  }
  .ui-page .ui-footer {
      font: 14px Arial !important;
      background: white !important;
      color: black;
      border: solid #fff 1px;
  }

  .ui-btn {
    font: 14px Arial !important;
  }
  .ui-btn-inner{
    font: 14px Arial !important;
  }
  .ui-btn-text {
    font: 14px Arial !important;
  }
  .ui-btn-text {
    font: 14px Arial !important;
  }

  .tableado {
    border-width: 1px;
    border-style: solid;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #e1e1e1;
  }

  .rowServicio3 {
      width: 80%;
      height: 64px;
      background-color: white;
      padding: 2px;
      margin-bottom: 1px;
      vertical-align: middle;
      float: left;
      overflow: hidden;
  }
  .rowServicio_r {
      position: relative;
      right: 0px;
      top:25%;
      float: right;
  }
  .izquierda{
    width: 60%;
    text-align: left;
    float: left;
  }
  .derecha{
    float: right;
    width: 100px;
    margin-right: 0px;
    text-align: right;
  }
  .rowServicioTit {
      padding: 4px;
      color: white;
      background-image: url("group-header.png");
      background-repeat: no-repeat;
      background-size: 97%;
      margin-bottom: 1px;
      clear: both;
  }
  .rowServicio {
      width: 97%;
      height: 32px;
      background-color: white;
      padding: 2px;
      margin-bottom: 1px;
      vertical-align: middle;
      float: left;
      overflow: hidden;
  }
  .rowServicioEsp {
      position: relative;
      width: 97%;
      padding-left: 5px;
      padding-top: 11px;
      padding-bottom: 11px;
      margin: 0;
      background-color: white;
      margin-bottom: 1px;
      overflow: hidden;
      display: table;
      vertical-align: middle;
      float: left;
  }
  .rowServicioEsp span {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 8;
      width: 17px;
      height: 100%;
      float: left;
  }

  .tabla_listas {
    width: 100%;
    border-collapse: collapse;
  }
  .tabla_listas td {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 4px;
    vertical-align: middle;
    border: 1px solid #ccc; 
    border-color: white;
    border-bottom-color: #ccc;
  }

  .parent {
      width: 100%;
      display:table-row;
      padding-left: 5px;
      padding-top: 11px;
      padding-bottom: 11px;
  }
  .child {
      width: 80%;
      display: table-cell;
      vertical-align: middle;
  }
  .child2 {
      display: table-cell;
      width: 20%;
      margin-right: 15px;
      float: right;
      text-align: right;
      vertical-align: middle;
  }

  /*.rowServicioEsp img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 8px;
      width: 80%;
      height: 100%;
      height: 17px;
      width: 17px;
  }*/

  .rowServicio2 {
      padding: 10px;
      background-color: white;
      width: 95%;
      margin-bottom: 2px;
  }
  .col_left {
    width: 90%;
    float: left;
  }
  .col_right {
    width: 9%;
  }
  .ui-btn {
    text-align: left;
  }

  .turno {
    padding: 10px;
    background: #24499C !important;
    color: white !important;
  }​
  .rowServicioTexto {
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
  }
  .ui-table-columntoggle-btn {
      display: none !important;
  }
  [data-role="header"] h1 {
      margin-top: 15px;
  }
  .blue {
    background-color: #24499C;
    color: white;
  }
  .barra_azul {
    font-family: Arial;
    font-size: 12px;
    font-weight: lighter;
    font-style: normal;
    text-align: center;
    color: white;
    background-image: url("group-header.png");
    background-repeat: no-repeat;
    background-size: 87%;
    width: 100%;
    height: 40px;
    float: left;
    text-align: left;
    display: block;
  }
  .barra_azul img {
    padding-left: 5px;
    padding-top: 5px;
  }
  .barra_azul1 {
    background-color: #24499C; 
    color: white; 
    padding: 5px;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
  }
  .barra_azul_subtitulo {
    font-family: Arial;
    font-size: 12px;
    font-weight: lighter;
    font-style: normal;
    color: white;
    background-image: url("group-header.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 4px;
    width: 80%;
    height: 32px;
    float: left;
  }
  .fondo_ticket {
    font-size: 40px;
    color: red;
    vertical-align: middle;
    text-align: center;
    z-index: -1000;
  }
  .fondo_ticket_t {
    text-align: center;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    transform: translateX(-35px);
  }

  #miNumero {
    position: fixed;
    /*max-height: 90vh;
    min-height: 90vh;*/
  }
  #main_ticket {
    position: fixed;
   /* min-height: 90vh;
    max-height: 90vh;*/
  }

  #miUltimoNumero {
    position: fixed;
  }

  .clear {
    clear: both;
  }

  #contenedor_ticket {
      width: 100%;
      height: auto;
      max-height: 80%;
      margin: 0;
      overflow-y: none;
  }

  .col_ticket {
    display: block;
    background-image: url("images/boleta2.png");
    -webkit-background-size: auto 92%;
    -moz-background-size: auto 92%;
    -o-background-size: auto 92%;
    background-size: auto 92%;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: none;
    overflow-y: none;
    text-align: center;
    z-index:10;
    /*transform: translateY(-35%);*/
  }
  .col_ticket2 {
    display: block;
    background-image: url("images/boleta2.png");
    -webkit-background-size: auto 90%;
    -moz-background-size: auto 90%;
    -o-background-size: auto 90%;
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: none;
    overflow-y: none;
    text-align: center;
    transform: translateY(-20px);
    z-index:10;
  }

  .col_vert {
    top: -80%;
    transform: translateY(-100%); 
  }

  .col_ticket_l {
    font-size: 15px;
    width: 40%;
    text-align: center;
    /*-webkit-bottom: 30px;
    -moz-bottom: 30px;
    -o-bottom: 30px;
    bottom: 30px;
    position: absolute;
    left: 10px;*/
    float: left;
  }
  .col_ticket_r {
    font-size: 15px;
    width: 40%;
    text-align: center;
    /*-webkit-bottom: 30px;
    -moz-bottom: 30px;
    -o-bottom: 30px;
    bottom: 30px;
    position: absolute;
    right: 10px;*/
    float: right;
  }
  .col_ticket_c {
    color: red;
    width: 100%;
    /*height: 100%;*/
    text-align: center;
  }
  .imagen_ticket {
    width:30%;
    margin: auto;
    top:10%;
  }
  .col_ticket_texto {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: red;
    -webkit-bottom: 30vh;
    -moz-bottom: 30vh;
    -o-bottom: 30vh;
    top: 30vh;
    display: block;
  }
  .col_ticket_texto2222 {
    position:absolute; 
    top: 0 auto;
    /*margin-top:-2em;*/
    color: red;
    font-size: 2em;
    text-align: center;
    width: 100%;
    left: 0 auto;
  }
  .col_ticket_texto2 {
    position:absolute; 
    top:50%; 
    /*margin-top:-2em;*/
    color: red;
    font-size: 2em;
    text-align: center;
    left: 45%;
  }
  .col_ticket_c2 {
    /*background-image: url("boleta.png");
    background-repeat: no-repeat;
    background-position: 50% -1%;
    background-size: 70%;*/
    font-size: 20px;
    color: red;
    width: 50%;
    top: 50%;
    text-align: center;
    float: right;
  }
  .tRojo {
    color: red;
    font-size: 16px;
  }

  .tAzul {
    color: #24499C;
    font-size: 18px;
  }

  .circleBase {
    border-radius: 50%;
  }

  .type1 {
    width: 40px;
    height: 40px;
    background: #24499C;
    color: white;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    float: right;
    right: 2px;
  }
  .type1 span {
    padding-top: 5px;
  }

  .tabtit {
    font: 14px Arial !important;
    font-size: 8px; 
    background-color: #24499C; 
    color: white;
    padding-left:1px;
    padding-right:1px;
  }
  
  .barras ul li a {
    padding-left: 1px;
    padding-right: 1px;
    background-color: #24499C !important;
  }
  .barras ul li a.ui-btn-active {
    padding-left: 1px;
    padding-right: 1px;
    background-color: #3388CC !important;
  }

  .col_dias {
    width: 45%;
    text-align: center;
    background-color: #24499C; 
    border: 1px solid white;
    color: white; 
    border-color: #24499C;
  }
  .col_inicio {
    width: 25%;
    text-align: center;
    background-color: #0431B4; 
    border: solid #fff 1px;
    color: white; 
    border-color:blue;
  }
  .col_fin {
    width: 25%;
    text-align: center;
    background-color: #3388CC; 
    border: solid #fff 1px;
    color: white; 
    border-color:blue;
  }
  .dato_dias {
    text-align: left;
    background-color: #24499C; 
    border: solid #fff 1px;
    color: white; 
  }
  .dato_inicio {
    text-align: center;
    background-color: #0431B4; 
    border: solid #fff 1px;
    color: white; 
  }
  .dato_fin {
    text-align: center;
    background-color: #3388CC; 
    border: solid #fff 1px;
    color: white; 
  }

  /*table {
    border-spacing: 0.5rem;
  }
  td {
    padding: 0.5rem;
  }*/

  .tabla table {
    width: 100%;
    border-collapse: collapse;
    font-size: 9px;
  }
  .tabla th {
    border: 1px solid #fff;
    padding: 6px;
    text-align: center;
    border: none;
  }
  .tabla td {
    border: solid #fff 1px;
    font-size: 13px;
    font-style: normal;
    font-weight: 10;
    padding: 6px;
    border: none;
  }

  .boton {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 2px;
    color: black;
  }
  .pequeno {
    font-size: 11px;
    padding-top: -3px;
  }
  .pequeno_tab {
    font-size: 12px;
    color: white; 
  }
  .datos_empresa {
    padding: 3px;
    height: 35px;
  }

  .azul_fondo_logo {
    width: 50%;
    background-color:#24499C;
    padding: 2px;
    float: left;
  }
  .azul_fondo_logo_r {
    float: right; 
    margin-right: 5px;
  }
  .ultima_atencion {
    font-size: 14px;
    font-style: normal;
    font-family: Arial;
    padding: 12px;
    background: #24499C;
    color: white;
    width: 95%;
    margin-bottom: 1px;
    text-align: center;
  }

  .blanco {
    color: white;
    font-size: 14px;
  }

  .barra_bottom { 
      height: 40px; 
      position: fixed; 
      bottom:0%;
      width:100%; 
      background-color: white; 
      opacity: 1;
  }
  .wrapper {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
  }

  #wrap {
      background: white;
      text-align: center;
      width: 100%;  
  }

  #left, #right {
       background: white;
       display: inline-block;
  }
  .boton_azul {
    text-align: center;
    width: 40%;
    background-color: #24499C;
    border-radius: 10px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
    display: inline-block; 
  }
  .boton_azul span {
    font-size: 13px;
    font-style: normal;
    background-color: #24499C;
  }
  .boton_espacio {
    width: 16px;
    height: 15px;
    display: inline-block; 
  }

  .terminos_condiciones {
    width:90%;
    background-color:#3388CC;
    border-radius: 8px;
    color:white;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
  }

.ui-navbar li a {
    background-color: #24499C;
    background: #24499C; /* Old browsers */
    text-align: center;
}

.ui-navbar li a:active {
    background-color: #24499C;
    background: blue; /* Old browsers */

}

.condiciones {
  padding: 20px;
  font-size: 14px;
  text-align: justify;
}



/**
 *
 * Pull down styles
 *
 */


.pan-y {
  touch-action: pan-y;
}