<!DOCTYPE html>
<html ng-app="turnoMovil">
    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <meta name="google-signin-client_id" content="757562737845-34c463p35bf5fq4crfctieioblhbki4n.apps.googleusercontent.com">
        <title>Su Turno M&oacute;vil</title>
        <link rel="stylesheet" href="jq/jquery.mobile-1.4.5.min.css">
        <link rel="shortcut icon" href="favicon.png">

        <script src="jq/jquery.min.js"></script>
        <script src="jq/jquery.mobile-1.4.5.min.js"></script>

        <script type="text/javascript" src="js/angular/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="config.js"></script>
        
        <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
        <!-- <script type="text/javascript" src="http://www.bing.com/api/maps/mapcontrol?branch=release&callback=GetMap" async defer></script> -->
        <script type="text/javascript" src="js/gps.js"></script>

        <script type="text/javascript" src="js/validaciones.js"></script>
        <link rel="stylesheet" type="text/css" href="index.css">

        <script src="js/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="js/dist/sweetalert2.min.css">
        <script type="text/javascript" src="js/jquery.p2r.min.js"></script>
    </head>
    <body id="mainControl" ng-controller="mainCtrl">
        
        <input type="hidden" id="conectado" name="conectado" ng-model="estado_conexion" value="">

        <!-- no borrar este codigo -->
        <div class="app" style="display: none;">
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
        </div>

        <!-- Login -->
        <div data-role="page" id="auth" style="background:#045FB4;">
          <!-- <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <h1>Su Turno M&oacute;vil</h1>
          </div> -->
          <br><br>
          <div role="main" class="ui-content" style="background:#045FB4;">
            <center>
              <img src="icon.png" width="120px"><br><br>
            </center>
            <div style="width:97%;">
                <div style="margin-left:30px; margin-right:0;">
                  <form id="form1" name="form1" method="POST">
                  <div style="width: 95%;">
                        <input type="hidden" id="push_id" ng-model="form.push_id" value="">
                        <div class="blanco">Email</div>
                        <input type="email" class="form-control" ng-model="form.email" auto-fill-sync placeholder="Correo electr&oacute;nico">
                        <div class="blanco">Contrase&ntilde;a</div>
                        <input type="password" class="form-control" ng-model="form.password" auto-fill-sync placeholder="Password">
                        <br>
                        
                          <div ng-click="submitRegistro()" class="boton_azul" style="background-color:#0431B4;float:left;">Registrarse</div>
                          <div class="boton_espacio">&nbsp;</div>
                          <div ng-click="submitLogin()" class="boton_azul" style="background-color:#0431B4;float:right;">Iniciar sesi&oacute;n</div>
                          <div style="clear: both;"></div>

                        <br><br>
                        <div ng-click="condiciones()" class="terminos_condiciones">Leer t&eacute;rminos y condiciones de servicio</div>
                  </div>
                  </form>
                </div>
            </div>
            <br>

            <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->

            <!-- <div ng-click="loginFaceBook()" class="boton_azul">Facebook</div> -->
            <!-- <table align="center">
                <tr>
                    <td><a href="#" ng-click="loginGoogle()"><img src="img/google.png" width="60px"></a></td>
                    <td>&nbsp;</td>
                    <td><a href="#" ng-click="loginFaceBook()"><img src="img/facebook.png" width="60px"></a></td>
                </tr>
            </table> -->
          </div>
        </div>

        <!-- Empresas disponibles -->
        <div id="servicios" data-role="page" data-cache="false" data-transition="slidefade">

          <div data-role="panel" data-position="right" id="mypanel">
              <br>
              <center>Su Turno M&oacute;vil</center>
              <button ng-click="goLogout()" class="boton_azul">Logout</button>
              <!-- <button ng-click="goInicio()" class="boton_azul">Inicio</button> -->
          </div>

          <div data-role="header" data-position="fixed" data-tap-toggle="false" class="ultimaAtencionDiv">
            <a href="/#mypanel" class="boton" data-role="none" data-corner="false"><i class="fa" aria-hidden="true"></i></a>
            <a href="/#mypanel" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
            <h1>Su Turno M&oacute;vil</h1> 

            <div ng-show="showUltimaAtencion" ng-click="showUltimaAtencionBoton()" class="ultima_atencion">
                <img src="images/reloj.png" height="13px"> Mi &Uacute;ltimo N&uacute;mero
            </div>
          </div>

          <div role="main" class="ui-content">
            <!-- <div class="buscador"><input type="search" ng-model="filtro" placeholder="Buscar empresa..."></div> -->
            <div class="pulltorefresh"></div>
            <div id='wrapper'>
                <div ng-repeat="row in servicios | filter: greaterThan('rubro_id', 100)">
                  <div ng-if="row.rubro!=''" class='rowServicioTit'>{{row.rubro}}</div>
                  <div ng-if="row.rubro==''" data-role="button" class="rowServicio tableado" ng-click="servicioClick(row.empresa_id, row.id, row.logo, row.nombre)">
                    <img ng-if="row.logo" title="{{row.nombre}}" src="{{row.logo}}" height="32px">
                    <img src="img/forward.png" height="15px" class="rowServicio_r">
                  </div>
                </div>
            </div>
            
          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <h4>Seleccione una instituci&oacute;n</h4>
          </div>
        </div>

        <!-- Servicios de la empresa -->
        <div data-role="page" id="detalles" data-theme="a" data-transition="slidefade">

            <div data-role="panel" data-position="right" id="mypanel2">
                <br>
                <center>Su Turno M&oacute;vil</center>
                <button ng-click="goLogout()" class="boton_azul">Logout</button>
                <button ng-click="goInicio()" class="boton_azul">Inicio</button>
            </div>

            <div data-role="header" data-position="fixed" style="overflow:hidden;" data-tap-toggle="false">
                <a ng-click="goEmpresas()" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
                <a href="/#mypanel2" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
                <h1>Su Turno M&oacute;vil</h1>
            </div>

            <div role="main" class="ui-content">

                <img src="{{logo}}" height="32px">
                <div class="rowServicioTit">Servicios</div>
                <!-- <div class="pulltorefresh"></div> -->
                <div>
                  <div ng-repeat="row2 in servicios_empresa">
                    <div class="rowServicio tableado" ng-click="sucursalesClick(row2.id, servicio_id_actual, row2.nombre)">
                      <img src="img/blanco.png" height="20px;" width="0px">{{row2.nombre}}
                      <img src="img/forward.png" height="15px" class="rowServicio_r">
                    </div>
                  </div>
                </div>

            </div>

            <div data-role="footer" data-position="fixed" data-tap-toggle="false" data-tap-toggle="false">
                <h4>Seleccione un Servicio</h4>
            </div>
        </div>

        <!-- Sucursales del servicio -->
        <div data-role="page" id="sucursales" data-theme="a" data-transition="slidefade">

          <div data-role="panel" data-position="right" id="mypanel3">
              <br>
              <center>Su Turno M&oacute;vil</center>
              <button ng-click="goLogout()" class="boton_azul">Logout</button>
              <button ng-click="goInicio()" class="boton_azul">Inicio</button>
          </div>

          <div data-role="header" data-position="fixed" style="overflow:hidden;">
            <a href="#detalles" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
            <a href="/#mypanel3" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
            <h1>Su Turno M&oacute;vil</h1>
          </div>

          <div role="main" class="ui-content">

            <img ng-if="logo" src="{{logo}}" height="32px">
            <div class="rowServicioTit">{{servicio_actual}}</div>

            <div ng-repeat="(key, row3) in direcciones">
              <div class="rowServicio2 tableado" ng-click="direccionClick(key, row3, row3.credenciales)">
                <!-- <img src="img/forward.png" height="7px" class="rowServicio_r"> -->
                <div class="izquierda">
                  <b>{{row3.nombre}}</b><br>
                  <div class="pequeno">
                    {{row3.direccion}}
                  </div>
                </div>
                <div class="derecha">
                  <div class="pequeno">
                    <span ng-if="row3.tee>=0&&row3.tee<=5">Espera* <5m</span>
                    <span ng-if="row3.tee>=6">Espera* {{row3.tee}}m</span>
                    <span ng-if="row3.tee==-1">FH</span>
                    <br>
                    <span ng-if="row3.distancia>=0.1">{{row3.distancia | number: 2}} kms</span> 
                    <span ng-if="row3.distancia<0.1">En sucursal</span> 
                  </div>
                </div>
                <div style="clear: both;"></div>
              </div>
            </div>

          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <h4>Seleccione Sucursal<br>* Tiempo estimado de espera</h4>
          </div>
        </div>

        <!-- ticket -->
        <div data-role="page" id="ticket" data-theme="a" data-transition="slidefade">

            <div data-role="panel" data-position="right" id="mypanel5">
                <br>
                <center>Su Turno M&oacute;vil</center>
                <button ng-click="goLogout()" class="boton_azul">Logout</button>
                <button ng-show="showBotVolver" ng-click="goInicio()" class="boton_azul">Inicio</button>
            </div>
            <div data-role="header" data-position="fixed" style="overflow:hidden;">
                <a ng-show="showBotVolver" id="volver" href="#sucursales" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
                <a href="/#mypanel5" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
                <h1>Su Turno M&oacute;vil</h1>
            </div>

          <div role="main" class="ui-content"  style="background-color: white;">
            <div>
              <div class="barra_azul">
                <div ng-show="miNumero!='---'" class="azul_fondo_logo_r circleBase type1"><span><br>{{miNumero}}</span></div>
                <img ng-if="logo" src="{{logo}}" height="32px">
              </div>
              
            </div>
            <div style="clear: both;"></div>
            <div class="datos_empresa">
              <div style="float: right;">
                <span ng-if="tee==0" class="pequeno">Espera:<5m&nbsp;</span><br ng-if="tee==0">
                <span ng-if="tee!=0" class="pequeno">Espera:{{tee}}&nbsp;</span><br ng-if="tee!=0">
                <span ng-if="distanciaActual>=0.1" class="pequeno">{{distanciaActual | number: 2}} kms</span> 
                <span ng-if="distanciaActual<0.1" class="pequeno">En sucursal</span> 
              </div>
              <div style="float: left;">
                <span><b>{{direccion_actual.nombre}}</b></span><br>
                <span class="pequeno">{{direccion_actual.direccion}}</span>
              </div>
            </div>   
            <div ng-show="(mensaje1!=''&&mensaje1!=null)||(mensaje2!=''&&mensaje2!=null)" class="barra_azul1" style="margin:-4px;">
                <center>{{mensaje1}}<br>{{mensaje2}}</center>
            </div>
            <!-- cuatro columnas -->
            <div ng-show="showTicket">
                <div data-role="tabs" id="tabs" style="margin:-5px;">
                    <div data-role="navbar" id="navbar" class="barras">
                        <ul>
                          <li><a id="t1" ng-click="pestanaActual('t1')" href="#oficina" data-ajax="false" class="ui-btn-active"><span class="pequeno_tab">Oficina</span></a></li>
                          <li><a id="t2" ng-click="pestanaActual('t2')" href="#miNumero" data-ajax="false"><span class="pequeno_tab">Su n&uacute;mero</span></a></li>
                          <li><a id="t3" ng-click="pestanaActual('t3')" href="#ubicacion" data-ajax="false"><span class="pequeno_tab">Ubicaci&oacute;n</span></a></li>
                          <li><a id="t4" ng-click="pestanaActual('t4')" href="#galeria" data-ajax="false"><span class="pequeno_tab">Galer&iacute;a</span></a></li>
                        </ul>
                    </div>
                    <div id="oficina">
                        <div class="tabla">
                        <table ng-show="horario.length>0">
                            <thead>
                                <tr><td colspan="3" style="border: solid #fff 1px;"><table><tr><td><div style="width:100%; text-align: center; font-size: 25px; padding-top: 15px; padding-bottom: 15px;">Horarios de Atenci&oacute;n</div></td><td> <img src="icon.png" height="35px"></td></tr></table></td>
                                <tr>
                                    <td class="col_dias" style="border: solid #fff 1px;">D&iacute;as</td>
                                    <td class="col_inicio" style="border: solid #fff 1px;">Inicio</td>
                                    <td class="col_fin" style="border: solid #fff 1px;">Fin</td>
                                </tr>
                            </thead>
                            <tbody ng-repeat="row4 in horario">
                                <tr>
                                  <td class="dato_dias" rowspan="{{row4.Horas.length + 1}}" style="border: solid #fff 1px;">{{row4.Dia}}</td>
                                </tr>
                                <tr ng-repeat="row44 in row4.Horas">
                                  <td class="dato_inicio" style="border: solid #fff 1px;">{{row44.Inicio}}</td>
                                  <td class="dato_fin" style="border: solid #fff 1px;">{{row44.Fin}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>

                    <div id="miNumero" class="ui-body-d ui-content col_ticket_cont">
                        <div class="col_ticket">
                          <div class="col_ticket_l"><img src="reloj.gif" width="25px"><br><span class="tAzul">Estimado</span><br><span class="tRojo">Menos de {{tee2}}</span></div>
                          <div class="col_ticket_c"><div class="col_ticket_texto">{{miNumero}}</div></div>
                          <div class="col_ticket_r"><img src="logoespera.png" height="25px"><br><span class="tAzul">Atendiendo</span><br><span class="tRojo">{{letraServicioActual}}{{turnoActual}}</span></div>
                        </div>
                    </div>
                    <div id="ubicacion" class="ui-body-d ui-content">
                        <div id="divMap" style="position:relative; top:0px; left:0px; right:0px; height:30px; background-color:White; "></div> 
                        <div class="itinerario" style="display:none;"></div>
                    </div>
                    <div id="galeria" class="ui-body-d ui-content">
                        <img src="{{galeria}}" width="100%;">
                    </div>
                </div>
            </div> <!-- cuatro columnas -->
            <!-- tres columnas -->
            <div ng-show="!showTicket">
                <div data-role="tabs" id="tabs2" style="margin:-5px;">
                    <div data-role="navbar" id="navbar2" class="barras">
                        <ul>
                          <li><a id="t5" ng-click="pestanaActual('t5')" href="#oficina2" data-ajax="false" class="ui-btn-active"><span class="pequeno_tab">Oficina</span></a></li>
                          <li><a id="t6" ng-click="pestanaActual('t6')" href="#ubicacion2" data-ajax="false"><span class="pequeno_tab">Ubicaci&oacute;n</span></a></li>
                          <li><a id="t7" ng-click="pestanaActual('t7')" href="#galeria2" data-ajax="false"><span class="pequeno_tab">Galer&iacute;a</span></a></li>
                        </ul>
                    </div>
                    <div id="oficina2">
                        <div class="tabla">
                        <table ng-show="horario.length>0">
                            <thead>
                                <tr><td colspan="3" style="border: solid #fff 1px;"><table><tr><td><div style="width:100%; text-align: center; font-size: 25px; padding-top: 15px; padding-bottom: 15px;">Horarios de Atenci&oacute;n</div></td><td> <img src="icon.png" height="35px"></td></tr></table></td>
                                <tr>
                                    <td class="col_dias" style="border: solid #fff 1px;">D&iacute;as</td>
                                    <td class="col_inicio" style="border: solid #fff 1px;">Inicio</td>
                                    <td class="col_fin" style="border: solid #fff 1px;">Fin</td>
                                </tr>
                            </thead>
                            <tbody ng-repeat="row4 in horario">
                                <tr>
                                  <td class="dato_dias" rowspan="{{row4.Horas.length + 1}}" style="border: solid #fff 1px;">{{row4.Dia}}</td>
                                </tr>
                                <tr ng-repeat="row44 in row4.Horas">
                                  <td class="dato_inicio" style="border: solid #fff 1px;">{{row44.Inicio}}</td>
                                  <td class="dato_fin" style="border: solid #fff 1px;">{{row44.Fin}}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div id="ubicacion2" class="ui-body-d ui-content">
                        <!-- <div id="divMap2" style="position:relative; top:0px; left:0px; right:0px; height:30px; background-color:White; "></div>  -->
                        <div id="divMap2" style="position:relative; top:0px; left:0px; right:0px; height:70px; background-color:white; "></div> 
                        <div id="itinerario" style="display:none;"></div>
                    </div>
                    <div id="galeria2" class="ui-body-d ui-content">
                        <img src="{{galeria}}" width="100%;">
                    </div>
                </div>
            </div>
        </div><!-- tres columnas -->

        <div ng-show="showPideTicket" data-role="footer" data-position="fixed" data-tap-toggle="false">
            <center>
              <img ng-click="tomaNumero()" ng-src="img/tomar_numero.png" width="95%">
            </center>
          </div>
        <div ng-show="!showPideTicket" data-role="footer" data-position="fixed" data-tap-toggle="false">
          <div id="wrap">
            <div class="boton_azul" ng-click="popUpCancelar()"><span>Cancelar</span></div>
            <div class="boton_espacio"></div>
            <div class="boton_azul" ng-click="popUpMeAtendieron()"><span>Me atendierion</span></div>
          </div>
        </div>

        </div><!-- datos del servicio seleccionado -->

        <!-- Solicitud de parametros al tomar numero -->
        <div data-role="page" id="pideNumero" data-theme="a" data-transition="slidefade">

            <div data-role="panel" data-position="right" id="mypanel4">
                <br>
                <center>Su Turno M&oacute;vil</center>
                <button ng-click="goLogout()" class="boton_azul">Logout</button>
                <button ng-click="goInicio()" class="boton_azul">Inicio</button>
            </div>

            <div data-role="header" data-position="fixed" style="overflow:hidden;">
                <a href="#ticket" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
                <a href="/#mypanel4" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
                <h1>Su Turno M&oacute;vil</h1>
            </div>

        <div role="main" class="ui-content">

            <img src="{{logo}}" height="32px">
            <div class="rowServicioTit">Ingrese los siguientes datos</div>
            <br>
            <div ng-form>
                <div style="width:80%;padding:30px;">
                  <div ng-if="sRut">{{tRut}}<br><input type='text' ng-model='formu.userRut' class='form-control' placeholder='12345678-K' style="width:100%;" required></div>
                  <div ng-if="sCel">{{tCel}}<br><input type='number' ng-model='formu.numCelular' class='form-control' placeholder='221234567' style="width:100%;" required></div>
                  <br>
                  <div id="tomaNumeroAcc" class="boton_azul" ng-click="tomaNumero2()" style="width:90%; margin:0 auto;">Tomar n&uacute;mero</div>
                </div>
            </div>

          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <h4>Solicitud n&uacute;mero de atenci&oacute;n</h4>
          </div>
        </div> <!-- pagina final -->

        <!-- miUltimoNumero -->
        <div id="miUltimoNumero" data-role="page" data-transition="slidefade">

          <div data-role="panel" data-position="right" id="mypanel">
              <br>
              <center>Su Turno M&oacute;vil</center>
              <button ng-click="goLogout()" class="boton_azul">Logout</button>
              <button ng-click="goInicio()" class="boton_azul">Inicio</button>
          </div>

          <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <a href="#servicios" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
            <a href="/#mypanel" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
            <h1>Mi &Uacute;ltimo N&uacute;mero</h1> 
          </div>

          <div role="main" class="ui-content">
              <!-- datos ultima atencion -->
              <div class="ui-body-d ui-content">
                <div class="barra_azul">
                  <div ng-show="miNumero!='---'" class="azul_fondo_logo_r circleBase type1"><div style="height:10px;"></div><span>{{ultimaAtencion.miNumero}}</span></div>
                  <img ng-show="ultimaAtencion.logo" src="{{ultimaAtencion.logo}}" height="32px">
                </div>
                <div style="clear: both;"></div>
                <table class="ui-body-d ui-responsive" style="width:95%;">
                <tbody>
                  <tr>
                    <td><b>{{ultimaAtencion.direccion_actual.nombre}}</b></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>{{ultimaAtencion.direccion_actual.direccion}}</td>
                    <td>&nbsp;</td>
                  </tr>
                  </tbody>
                </table>
                <div class="barra_azul1">
                    <center style="font-size:14;font-family:Arial;font-weight:100;">{{ultimaAtencion.mensaje1}}<br>{{ultimaAtencion.mensaje2}}</center>
                </div>
                <center><h2 style="paddin:0;">{{ultimaAtencion.servicio_actual}}</h2></center>
                <div class="col_ticket">
                  <div class="col_ticket_l"><span class="tAzul">Fecha</span><br><span class="tRojo">{{ultimaAtencion.date | date:'dd-MM-yyyy'}}</span></div>
                  <div class="col_ticket_c"><div class="col_ticket_texto2">{{ultimaAtencion.miNumero}}</div></div>
                  <div class="col_ticket_r"><span class="tAzul">Hora</span><br><span class="tRojo">{{ultimaAtencion.date | date:'HH:mm'}}</span></div>
                </div>
                <br><br><br>
            </div>
          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <h5>*Este N&deg; ya pudo haber sido llamado</h5>
          </div>
        </div>

        <!-- termino y condiciones -->
        <div data-role="page" id="condiciones" data-transition="slidefade">

          <div data-role="panel" data-position="right" id="mypanel">
              <br>
              <center>Su Turno M&oacute;vil</center>
              <button ng-click="goLogout()" class="boton_azul">Logout</button>
              <button ng-click="goLogout()" class="boton_azul">Inicio</button>
          </div>

          <div data-role="header" data-position="fixed" data-tap-toggle="false">
            <a href="/#login" class="boton" data-role="none" data-corner="false"><img src="img/back.png" height="18px"></a>
            <a href="/#mypanel" class="boton" data-role="none" data-corner="false"><img src="img/bars.png" width="18px"></a>
            <h1>Terminos y Condiciones</h1> 
          </div>

          <div role="main" class="ui-content">
              <div class="condiciones" id="condiciones_cont"></div>
          </div>

          <div data-role="footer" data-position="fixed" data-tap-toggle="false">
            <div id="wrap">
              <div ng-click="goLogout()" class="boton_azul">Cerrar</div>
            </div>
          </div>
        </div> <!-- termino y condiciones -->

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script>
          $(document).ready(function (){
              $(".pulltorefresh").hide();
              // $("#wrapper").pullToRefresh()
              // .on("start.pulltorefresh", function (evt, y) {
              //     // $(this).off("touchend.pulltorefresh");
              //     $(".pulltorefresh").html('<br><center><img src="images/down.png" width="20px;"> Suelte para actualizar</center>');
              //     $(".pulltorefresh").show();
              // })
              // .on("end.pulltorefresh", function (evt){
              //     $(".pulltorefresh").html('<br><center><img src="images/spinner_gray.gif" width="20px;"> Un momento...</center>');
              //     angular.element(document.getElementById('mainControl')).scope().serviciosRefresh();
              //     // angular.element(document.getElementById('mainControl')).scope().servicioRefresh();
              //     setTimeout(function() {
              //       $(".pulltorefresh").hide();
              //     }, 1000);
              // })
              // .on("refresh.pulltorefresh", function (evt, y){
              //     setTimeout(function() {
              //       $(".pulltorefresh").hide();
              //     }, 1000);
              // });
              // $("#wrapper2").pullToRefresh({
              //   lockRefresh: 400,
              //   refresh: 300,
              //   resetSpeed: 500,
              //   threshold: 40,
              //   resetRefresh: true
              // })
              // .on("start.pulltorefresh", function (evt, y) {
              //     $(this).off("touchend.pulltorefresh");
              //     $(".pulltorefresh2").html('<br><center><img src="images/down.png" width="20px;"> Baje para actualizar</center>');
              //     $(".pulltorefresh2").show();
              // })
              // .on("end.pulltorefresh", function (evt){
              //     $(".pulltorefresh2").html('<br><center><img src="images/spinner_gray.gif" width="20px;"> Un momento...</center>');
              //     angular.element(document.getElementById('mainControl')).scope().servicioRefresh();
              //     setTimeout(function() {
              //       $(".pulltorefresh2").hide();
              //     }, 1000);
              // })
              // .on("refresh.pulltorefresh", function (evt, y){
              //     setTimeout(function() {
              //       $(".pulltorefresh2").hide();
              //     }, 1000);
              // });;
          });

        </script>
        <canvas id="canvas"></canvas>
        <img id="image"></img>
    </body>
</html>

<script type="text/javascript">
    var h = window.screen.availHeight;
    var w = window.screen.availWidth;
    $(".fondo_ticket").css("height", h * 0.70);
    $(".fondo_ticket").css("scale", 0.70);
    $(".wrapper").css("width", w);
    $(".col_ticket").css("height", h -255);
    $(".col_ticket_ult").css("height", h -255);

    console.log(h);
    console.log(h - 255);

    $("#condiciones_cont").load("condiciones.html");
 
</script>